name: Update Funding Data
on:
  schedule:
    - cron: "0 13 * * 1"
  workflow_dispatch:
jobs:
  update_data:
    name: Update data if there are new filings
    runs-on: ubuntu-latest
    services:
      selenium:
        image: selenium/standalone-chrome
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          cache: 'pip'
      - name: Installing all necessary packages
        run: pip install chromedriver-autoinstaller selenium pyvirtualdisplay
      - name: Install xvfb
        run: sudo apt-get install xvfb
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Run Script and Update Data
        run: |
          jupyter nbconvert --to script Finance_Data_Scraper.ipynb
          python Finance_Data_Scraper.py
      - name: Commit and Push Changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add data/tim_ryan.csv data/jd_vance.csv
          git commit -m "Updated data on `date` with GitHub Actions"
          git push origin master