name: Update Funding Data
on:
  schedule:
    - cron: "0 13 * * 1"
  workflow_dispatch:
jobs:
  update_data:
    name: Update data if there are new filings
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          cache: 'pip'  
      
      - name: Installing ChromeDriver and Display
        run: pip install chromedriver-autoinstaller pyvirtualdisplay

      - name: Install software
        run: | 
          sudo apt-get update
          sudo apt-get install -y chromium-driver
          sudo apt-get install xvfb
          export PATH="$HOME/.local/bin:$PATH"
      - name: Install Dependencies
        run: pip install -r requirements.txt
      - name: Run Script and Update Data
        run: |
          mkdir links
          python data_scraper.py
          wget -i links/links.txt -P data
          rm links/links.txt
          python data_cleaner.py
      - name: Commit and Push Changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add links/links.txt
          git commit -m "Updated data on `date` with GitHub Actions"
          git push origin master
